body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 0 0 10px 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

/*NavBar styling*/
header {
  background-color: #333;
  padding: 10px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  margin: 0;
  font-size: 24px;
  text-decoration: none;
}

.nav-link {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}
